<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Sync Table UUID</th>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">ErrorCode</th>
                <th scope="col">Description</th>
                <th scope="col">Solution</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let syncEntity of syncEntities">
                <td>{{ syncEntity.syncTableUUID }}</td>
                <td>{{ syncEntity.id }}</td>
                <td>{{ syncEntity.date }}</td>
                <td>{{ syncEntity.employeeName }}</td>
                <td>{{ syncEntity.errorCode }}</td>
                <td>{{ syncEntity.description }}</td>
                <td>{{ syncEntity.solution }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>