<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start Date</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Error Code</th>
                <th scope="col">Minimum Hours Logged</th>
                <th scope="col">Work Order</th>
                <th scope="col">Message</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let syncEntity of syncEntities">
                <td>{{ syncEntity.id }}</td>
                <td>{{ syncEntity.startDate }}</td>
                <td>{{ syncEntity.employeeName }}</td>
                <td>{{ syncEntity.errorCode }}</td>
                <td>{{ syncEntity.hoursLogged }}</td>
                <td>{{ syncEntity.workOrder }}</td>
                <td>{{ syncEntity.message }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>