<div class="card my-5">
    <div class="card-body">
        <div class="form-group">
            <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Search">
        </div>
        <div class="options">
            <button class="btn btn-outline-secondary" id="slackInput" (click)="copySlackInput()">Slack Input</button>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        checked="true"
                        id="syncVisibilityCheck"
                        (change)="changeSyncVisibility($event)"
                />
                <label class="form-check-label" for="syncVisibilityCheck">
                    No sync needed visible
                </label>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Start Date</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Minimum Hours Logging Needed</th>
                    <th scope="col">Work Order</th>
                    <th scope="col">Message</th>
                    <th scope="col">More Info</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let syncEntity of filteredEntities | syncEntity: filter">
                    <td>{{ syncEntity.startDate }}</td>
                    <td>{{ syncEntity.employeeName }}</td>
                    <td>{{ syncEntity.errorCode }}</td>
                    <td>{{ syncEntity.hoursLogged }}</td>
                    <td>{{ syncEntity.workOrder }}</td>
                    <td>{{ syncEntity.message }}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="getOverviewWeek(syncEntity)">Overview Week</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>