<div class="card my-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Correct</th>
                    <th scope="col">Date</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Hours Logged Tempo</th>
                    <th scope="col">Hours Logged Camis</th>
                    <th scope="col">Work Order</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let syncResultEntry of syncResultEntries"
                    [ngStyle]="getRowStyle(syncResultEntry)">
                    <ng-container
                            [ngTemplateOutlet]="getTemplate(syncResultEntry)"
                            [ngTemplateOutletContext]="{ syncResultEntry: syncResultEntry }" >
                    </ng-container>
                </tr>
                </tbody>

                <ng-template #camisNotAvailable let-syncResultEntry>
                    <td><span class="material-icons" title="Insufficient (<8) hours booked in Tempo">punchclock</span></td>
                    <td>{{ syncResultEntry.syncDate }}</td>
                    <td>{{ syncResultEntry.employeeName }}</td>
                    <td>{{ syncResultEntry.inputHours }}</td>
                    <td></td>
                    <td>{{ syncResultEntry.workOrder.value }}</td>
                </ng-template>
                <ng-template #camisAvailable let-syncResultEntry>
                    <td *ngIf="syncResultEntry.camisHours != -1 && syncResultEntry.inputHours === syncResultEntry.camisHours ">
                        <span class="material-icons" title="Synced correctly">check</span></td>
                    <td *ngIf="syncResultEntry.camisHours != -1 && syncResultEntry.inputHours !== syncResultEntry.camisHours ">
                        <span class="material-icons" title="Unable to sync correctly, fix manually">clear</span></td>
                    <td>{{ syncResultEntry.syncDate }}</td>
                    <td>{{ syncResultEntry.employeeName }}</td>
                    <td>{{ syncResultEntry.inputHours }}</td>
                    <td>{{ syncResultEntry.camisHours }}</td>
                    <td>{{ syncResultEntry.workOrder.value }}</td>
                </ng-template>
            </table>
            <button class="btn btn-secondary" [routerLink]="getUrl().substring(0, getUrl().lastIndexOf('/'))"><i class="bi bi-arrow-right"></i>Sync Overview</button>
        </div>
    </div>
</div>