<div class="card my-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Sync Result <i><span class="info-icon" title="Hover on icons for more info">ℹ️</span></i></th>
                    <th scope="col">Date</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Hours Logged Tempo</th>
                    <th scope="col">Hours Logged Camis</th>
                    <th scope="col">Work Order</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let syncResultEntry of syncResultEntries"
                    [ngStyle]="getRowStyle(syncResultEntry)">
                        <td><span class="material-icons" title="{{ syncResultEntry.message }}">{{getRowIcon(syncResultEntry)}}</span></td>
                        <td>{{ syncResultEntry.syncDate }}</td>
                        <td>{{ syncResultEntry.employeeName }}</td>
                        <td>{{ syncResultEntry.inputHours }}</td>
                        <td>{{ getCamisHours(syncResultEntry) }}</td>
                        <td>{{ syncResultEntry.workOrder.value }}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-secondary" [routerLink]="getUrl().substring(0, getUrl().lastIndexOf('/'))"><i class="bi bi-arrow-right"></i>Sync Overview</button>
        </div>
    </div>
</div>