<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let errorEntity of errorsEntities">
                <td>{{ errorEntity.id }}</td>
                <td>{{ errorEntity.date }}</td>
                <td>{{ errorEntity.employee }}</td>
                <td>{{ errorEntity.errorCode }}</td>
                <td>{{ errorEntity.description }}</td>
                <td>{{ errorEntity.solution }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>