/* You can add global styles to this file, and also import other style files */
.custom-table {
    font-size: 16px;
    background-color: #fff;
}

.custom-table thead {
    background-color: #343a40;
    color: #fff;
}

.custom-table th,
.custom-table td {
    padding: 0.5rem;
}

.custom-row {
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.15s ease-in-out;
}

.custom-row:hover {
    background-color: #f8f9fa;
}
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
}

.table thead th {
    font-weight: 600;
}

.table tbody tr {
    background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-bordered td,
.table-bordered th {
    border-color: #dee2e6;
}

.table td,
.table th {
    padding: 0.5rem 1rem;
}

.material-icons {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* Hover effect */
.table tbody tr:hover {
    background-color: #f2f2f2;
}

.navbar-nav li {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    position: relative;
    border-left: 1px solid white;
}

.my-5{
    margin: 5%;
}

.bg-dark {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.card-body{
    padding: 2% 3%;
}

@media (min-width: 1200px) {
    .my-5{
        margin: 10%;
    }
}

