<div class="card my-5">
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <div class="form-group">
                <label for="syncfile">Sync File</label>
                <input type="file"
                       class="form-control"
                       id="syncFile"
                       name="syncFile"
                       formControlName="syncFile"
                       (change)="selectSyncFile($event)"
                       placeholder="Input the sync hours csv file">
                <div *ngIf="formData.controls['syncFile'].invalid && (formData.controls['syncFile'].touched)"
                     class="alert alert-danger">
                    <div *ngIf="formData.controls['syncFile'].errors?.['required']">
                        Sync file is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="slackEmployeesFile">Slack Employees File</label>
                <input type="file"
                       class="form-control"
                       id="slackEmployeesFile"
                       name="slackEmployeesFile"
                       formControlName="slackEmployeesFile"
                       (change)="selectSlackEmployeesFile($event)"
                       placeholder="Input the slack names csv file">
                <div *ngIf="formData.controls['slackEmployeesFile'].invalid && (formData.controls['slackEmployeesFile'].touched)"
                     class="alert alert-danger">
                    <div *ngIf="formData.controls['slackEmployeesFile'].errors?.['required']">
                        Slack employees file is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="clientId">Client Id</label>
                <input type="text"
                       class="form-control"
                       id="clientId"
                       name="clientId"
                       formControlName="clientId"
                       placeholder="Enter the client id">
            </div>
            <div *ngIf="formData.controls['clientId'].invalid && (formData.controls['clientId'].touched)"
                 class="alert alert-danger">
                <div *ngIf="formData.controls['clientId'].errors?.['required']">
                    Client Id is required.
                </div>
            </div>
            <div class="form-group">
                <label for="clientSecret">Client Secret</label>
                <input type="password"
                       class="form-control"
                       id="clientSecret"
                       name="clientSecret"
                       formControlName="clientSecret"
                       placeholder="Enter the client secret">
            </div>
            <div *ngIf="formData.controls['clientSecret'].invalid && (formData.controls['clientSecret'].touched)"
                 class="alert alert-danger">
                <div *ngIf="formData.controls['clientSecret'].errors?.['required']">
                    Client secret is required.
                </div>
            </div>
            <button type="submit" [disabled]="!formData.valid || syncingStarted">Start Syncing</button>
            <div *ngIf="syncingStarted">Uploading, SyncUUID : {{syncResultUUID}} </div>
            <div *ngIf="syncingStarted">You'll be redirected to the Sync Result page after upload of the input </div>
        </form>
    </div>
</div>